* {
    margin: 0px;
    padding: 0px;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #fff;
}

.HeaderArea {
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    background-color: #198754;
}

.MainArea {
    background: #fff;
    border:1px solid #198754;
    min-height: 200px;
    padding: 20px 15px;
}

.FooterArea {
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: #198754;
}

.FooterArea p {
    margin-bottom: 0px;
}